@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
h2 {
  font-family: "Shrikhand";
}

html {
  font-family: "Roboto";
}

/* Main Page */
.btn-explorer {
  font-family: "Roboto";
  font-size: 16px;
  width: 55%;
  max-width: 250px;
  height: 50px;
  border: none;
  border-radius: 40px;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 5px 5px 5px #dedede;
  transition: all 800ms;
}
.btn-explorer:hover {
  transform: scale(1.05);
  opacity: 0.9;
  box-shadow: 8px 8px 8px #cccccc;
}

.btn-list {
  font-family: "Roboto";
  font-size: 16px;
  background-color: #F2F2F2;
  padding-left: 35px;
  text-align: start;
  border: none;
  border-radius: 20px;
  margin-left: 30px;
  width: 90%;
  height: 60px;
  margin-right: 20px;
  box-shadow: 5px 5px 5px #dedede;
  transition: all 800ms;
  transition: all 800ms;
}
@media (min-width: 1200px) {
  .btn-list {
    max-width: 400px;
    min-width: 320px;
    margin-left: 10px;
  }
}
.btn-list i {
  color: #737373;
  font-size: large;
}
.btn-list:hover {
  background-color: #f2eafb;
}
.btn-list:hover i {
  color: #9356DC;
}

.btn-new {
  background-color: #99E2D0;
  position: absolute;
  padding: 8px;
  margin-left: -100px;
  margin-top: 15px;
  color: #2c9c81;
  border-radius: 2px;
  font-weight: bold;
}

/* Restaurants pages */
.btn-command {
  width: 55%;
  max-width: 250px;
  height: 50px;
  font-size: 16px;
  border: none;
  border-radius: 40px;
  color: white;
  margin-bottom: 40px;
  box-shadow: 5px 5px 5px #dedede;
  background: linear-gradient(#FF79DA, #9356DC);
  transition: all 800ms;
}
@media (min-width: 1200px) {
  .btn-command {
    margin-top: 20px;
    margin-bottom: 80px;
  }
}
.btn-command:hover {
  transform: scale(1.05);
  opacity: 0.9;
  box-shadow: 8px 8px 8px #cccccc;
}

.header {
  text-align: center;
  box-shadow: 0 3px 3px rgb(201, 201, 202);
  /* enlever box-shadow sur les pages restaurants */
  position: relative;
  padding-top: 20px;
  padding-bottom: 10px;
}
.header .logo {
  height: 30px;
}
.header a {
  text-decoration: none;
  color: black;
}
.header__icon-restaurant {
  display: flex;
  align-items: flex-start;
  position: absolute;
  font-size: large;
  padding-left: 5%;
}

/* Changer couleur text placeholder en noir */
.research-bar {
  font-family: "Roboto";
  width: 100%;
  height: 50px;
  background-color: #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.research-bar i {
  background-color: #e5e5e5;
}
.research-bar__input-form {
  background-color: #e5e5e5;
  justify-content: center;
  text-align: center;
  width: 150px;
  outline: none;
  font-size: 16px;
}

.background-color {
  background-color: #F2F2F2;
}

.border-none {
  border: none;
}

.decoration-none {
  text-decoration: none;
  color: black;
}

.font-bold {
  font-weight: bold;
}

.btn-desktop {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1200px) {
  .btn-desktop {
    flex-direction: row;
    justify-content: space-around;
  }
}

/* boucle delay affichage plats des pages restaurants + animation */
.bloc-plate {
  visibility: hidden;
}
.bloc-plate .t1 {
  animation: fade-in 800ms 150ms forwards;
}
.bloc-plate .t2 {
  animation: fade-in 800ms 300ms forwards;
}
.bloc-plate .t3 {
  animation: fade-in 800ms 450ms forwards;
}
.bloc-plate .t4 {
  animation: fade-in 800ms 600ms forwards;
}
.bloc-plate .t5 {
  animation: fade-in 800ms 750ms forwards;
}
.bloc-plate .t6 {
  animation: fade-in 800ms 900ms forwards;
}
.bloc-plate .t7 {
  animation: fade-in 800ms 1050ms forwards;
}
.bloc-plate .t8 {
  animation: fade-in 800ms 1200ms forwards;
}
.bloc-plate .t9 {
  animation: fade-in 800ms 1350ms forwards;
}
.bloc-plate .t10 {
  animation: fade-in 800ms 1500ms forwards;
}
.bloc-plate .t11 {
  animation: fade-in 800ms 1650ms forwards;
}
.bloc-plate .t12 {
  animation: fade-in 800ms 1800ms forwards;
}
.bloc-plate .t13 {
  animation: fade-in 800ms 1950ms forwards;
}
.bloc-plate .t14 {
  animation: fade-in 800ms 2100ms forwards;
}
@keyframes fade-in {
  from {
    width: 0%;
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    visibility: visible;
    width: 100%;
    opacity: 1;
    transform: translateY(0);
  }
}

/* Restaurants pages */
.main-section {
  position: relative;
  height: auto;
  background-color: #F2F2F2;
  font-family: "Roboto";
  padding-top: 20px;
  border-radius: 40px 40px 0 0;
  top: 250px;
  padding-left: 5%;
  padding-right: 5%;
}
@media (min-width: 1800px) {
  .main-section {
    min-height: 800px;
  }
}

.img-background {
  position: absolute;
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  height: auto;
}

.plate-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  padding-left: 20px;
  margin-bottom: 20px;
  height: 60px;
  box-shadow: 5px 5px 5px #dedede;
  border-radius: 15px;
}
.plate-details__1 {
  width: 80%;
  padding-right: 15px;
}
.plate-details__1 p {
  white-space: nowrap;
  overflow: hidden;
  margin-top: 2px;
  margin-bottom: 2px;
  text-overflow: ellipsis;
}
@media (min-width: 650px) {
  .plate-details__1 {
    width: 90%;
  }
}
.plate-details__2 {
  width: 20%;
  max-width: 40px;
  display: flex;
  justify-content: end;
  padding-right: 20px;
  transform: translateY(12px);
}
@media (min-width: 650px) {
  .plate-details__2 {
    width: 40px;
  }
}
.plate-details__3 {
  width: 0%;
}
.plate-details__3 i {
  background-image: white;
  overflow: hidden;
  color: transparent;
  font-size: 20px;
  border-radius: 30px;
}
.plate-details:hover .plate-details__1 {
  width: 60%;
}
@media (min-width: 650px) {
  .plate-details:hover .plate-details__1 {
    width: 90%;
  }
}
.plate-details:hover .plate-details__2 {
  max-width: 40px;
}
.plate-details:hover .plate-details__3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  transition: all 800ms;
}
.plate-details:hover .plate-details__3 i {
  background-color: white;
  color: #99E2D0;
  animation: anim-check 800ms;
}

@keyframes anim-check {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@media (min-width: 1200px) {
  .desktop-menu-align {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .desktop-menu-align .bloc-plate {
    min-width: 450px;
    width: 45%;
    padding-right: 20px;
  }
}
@media (min-width: 1800px) {
  .desktop-menu-align {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .desktop-menu-align .bloc-plate {
    min-width: 450px;
    width: 30%;
    padding-right: 20px;
  }
}

/* Heart align */
.space-title {
  margin-top: 5px;
  margin-left: 30px;
  position: absolute;
}

.underline {
  border-bottom: 3px solid #99E2D0;
  margin-bottom: 20px;
  width: 60px;
}

.bloc-plate {
  padding-bottom: 20px;
}

h2 {
  font-weight: lighter;
}

/* For all pages */
.footer {
  position: relative;
  font-family: "Roboto";
  background-color: #404040;
  color: white;
  padding-left: 5%;
  margin-bottom: 0;
  height: 200px;
  margin-top: 0;
  top: 250px;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer .logo-footer {
  font-family: "Shrikhand";
  padding-top: 30px;
  padding-bottom: 15px;
  font-size: 18px;
}
.footer .footer-div {
  display: flex;
  flex-direction: space-between;
  align-items: center;
}
.footer .footer-div i {
  width: 20px;
  font-size: 11px;
}
.footer .footer-div p {
  margin-bottom: 0;
  margin-top: 7px;
}

/* Align heart + anim hover */
.align-heart {
  transform: translateY(-15px);
}

.heart-empty {
  color: black;
  font-size: x-large;
}

.heart-full {
  font-size: x-large;
  color: transparent;
  opacity: 0;
  background-clip: text;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  transition: all 600ms ease-in;
}
.heart-full:hover {
  opacity: 1;
}

body {
  margin: 0;
}

.text-center {
  text-align: center;
}

.top-section {
  background-color: #F2F2F2;
  padding-bottom: 40px;
}
.top-section h1 {
  padding-top: 40px;
  margin-top: 0;
  padding-left: 15%;
  padding-right: 15%;
}
.top-section p {
  padding-left: 10%;
  padding-right: 10%;
  font-size: 17px;
  padding-bottom: 10px;
}

.align-btn {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}
.align-btn p {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-left: 20px;
  height: 26px;
  width: 26px;
  border-radius: 13px;
  background-color: #9356DC;
  color: white;
}
@media (min-width: 1200px) {
  .align-btn p {
    margin-left: 0;
  }
}
.align-btn i {
  width: 20px;
  padding-right: 15px;
  padding-left: 5px;
}

.title-list {
  padding-left: 50px;
}
@media (min-width: 1200px) {
  .title-list {
    padding-left: 5%;
  }
}

.bloc-restaurant {
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
  margin-top: 2vw;
  padding-bottom: 50px;
  padding-left: 5%;
  padding-right: 5%;
}

.list-restaurant {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.list-restaurant a {
  text-decoration: none;
}
@media (min-width: 1200px) {
  .list-restaurant {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.list-restaurant__card {
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 5px 5px 5px #dedede;
  border-radius: 20px;
}
@media (min-width: 1200px) {
  .list-restaurant__card {
    width: 42vw;
    margin-bottom: 40px;
  }
}
.list-restaurant__card p {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
  color: black;
}
.list-restaurant__card__img {
  height: 80%;
  width: 100%;
}
.list-restaurant__card__img img {
  width: 100%;
  max-height: 40vw;
  object-fit: cover;
  object-position: center;
  border-radius: 20px 20px 0 0;
}
@media (min-width: 1200px) {
  .list-restaurant__card__img img {
    max-height: 25vw;
  }
}
.list-restaurant__card__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20%;
  padding-left: 20px;
  padding-right: 40px;
}
@media (min-width: 650px) {
  .list-restaurant__card__details {
    min-height: 80px;
  }
}
.list-restaurant__card i {
  position: absolute;
  margin-right: 10px;
}

.footer-mainpage {
  top: 0;
}

/*# sourceMappingURL=style.css.map */
