/* Button exploration */ 
/* dégrader de couleur secondary top > primary bottom */
.btn-explorer {
    font-family: $font-text;
    background: linear-gradient($color-secondary, $color-primary);
    font-size: 16px;
    width: 55%;
    max-width: 250px;
    height: 50px;
    border: none;
    border-radius: 40px;
    color: $color-white;
    @include box-shadow;
    transition: transform 1500ms;
    &:hover {
        opacity: 0.9;
        box-shadow: 8px 8px 8px darken($color-grey, 8%);
        /*background-color: lighten($color-secondary, $color-primary, 15%);*/
    }
}
/* hover violet sur le bouton + icone devient violet */ 
.btn-list {
    font-family: $font-text;
    font-size: large;
    background-color: $color-grey;
    padding-left: 35px;
    text-align: start;
    border: none;
    border-radius: 20px;
    margin-left: 50px;
    width: 90%;
    height: 60px;
    margin-right: 5%;
    @media (min-width: map-get($breakpoints, desktop)) {
        max-width: 400px;
        min-width: 320px;
        margin-left: 10px;
    }
    @include box-shadow;
    i {
        color: darken($color-grey, 50%);
        font-size:large;
    }
    transition: transform 800ms;
    &:hover {
        background-color: lighten($color-primary, 35%);
        i {
            color: $color-primary;
        }
    }
}
.btn-new {
    background-color: $color-tertiary;
    position: absolute;
    padding: 8px;
    margin-left: -100px;
    margin-top: 15px;
    color: darken($color-tertiary, 35%);
    border-radius: 2px;
    font-weight: bold;
}
.btn-command {
    background-color: $color-secondary;
    width: 55%;
    height: 50px;
    border: none;
    border-radius: 40px;
    color: $color-white;
    margin-bottom: 40px;
    @include box-shadow; 
}