
.text-center {
    text-align: center;
    
}
.top-section {
    background-color: $color-grey;
    padding-bottom: 40px;
    h2 {
        padding-top: 40px;
        margin-top: 0;
        padding-left: 15%;
        padding-right: 15%;
    }
    p {
        padding-left: 10%;
        padding-right: 10%;
        font-size: 17px;
        padding-bottom: 10px;
    }
}

.align-btn {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    p{
        display: flex;
        align-items: center;
        justify-content: center; 
        position: absolute;
        margin-left: 40px;
        height: 26px;
        width: 26px;
        border-radius: 13px;
        background-color: $color-primary;
        color: $color-white;  
        @media (min-width: map-get($breakpoints, desktop)) {
            margin-left: 0;
        }  
    }
    i {
        width: 20px;
        padding-right: 15px;
        padding-left: 5px;
    }
}
.title-list {
    padding-left: 50px;
    @media (min-width: 1200px) {
        padding-left: 5%;
    }
}
.bloc-restaurant {
    display: flex;
    flex-direction: column;
    background-color: $color-grey;
    margin-top: 2vw;
    padding-bottom: 50px;
    @include padding;
    h2 {
        padding-bottom: 20px;
        padding-top: 20px;
    }

}
.list-restaurant {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    a {
        text-decoration: none;
        color: $color-black;
    }
    @media (min-width: map-get($breakpoints, desktop)) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }        
    &__card {
        @media (min-width: map-get($breakpoints, desktop)) {
            width: 42vw;
            margin-bottom: 40px;
        }     
        width: 100%;       
        margin-bottom: 20px;    
        @include box-shadow;
        @include border-radius-img;
        p {
            margin-top: 5px;
            margin-bottom: 5px;
            font-size: 18px;
        }
        &__img {
            height : 80%;
            width: 100%;
            img {
                @media (min-width: map-get($breakpoints, desktop)) {
                    max-height: 25vw;
                }  
                width: 100%;
                max-height: 40vw;
                object-fit: cover;
                object-position: center;
                border-radius: 20px 20px 0 0;
            }
        }
        &__details {
            display: flex;
            justify-content : space-between;
            align-items: center;
            height: 20%;
            @media (min-width: map-get($breakpoints, tab)) {
                min-height: 80px;
            }  
            padding-left: 3%;
            padding-right: 5%;
        }

    }
}
.heart-full {
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient($color-secondary, $color-primary);
    opacity: 0;
    transition: all 800ms;
    &:hover {    
        opacity: 1; 
    } 
}









