@mixin box-shadow {
    box-shadow: 5px 5px 5px darken($color-grey, 8%);
}
@mixin border-radius-img {
    border-radius: 20px;
}
@mixin border-radius-btn {
    border-radius: 15px;
}
@mixin padding {
    padding-left: 5%;
    padding-right: 5%;
}
@mixin lighter-button {
    transition: transform 1500ms;
    &:hover {
        opacity: 0.9;
        box-shadow: 8px 8px 8px darken($color-grey, 8%);
    }
}
@mixin linear-gradient {
    background: linear-gradient($color-secondary, $color-primary);
}


