@mixin box-shadow {
    box-shadow: 5px 5px 5px darken($color-grey, 8%);
}
@mixin border-radius-img {
    border-radius: 20px;
}
@mixin border-radius-btn {
    border-radius: 15px;
}
@mixin padding {
    padding-left: 5%;
    padding-right: 5%;
}
@mixin lighter-button {
    transition: all 800ms;
    &:hover {
        opacity: 0.8;
        box-shadow: 8px 8px 8px darken($color-grey, 15%);
    }
}
@mixin linear-gradient {
    background: linear-gradient($color-secondary, $color-primary);
}
@mixin button-list-over-anim {
    transition: all 800ms;
    &:hover {
        background-color: lighten($color-primary, 35%);
        i {
            color: $color-primary;
        }
    }
}
@mixin darken-shadow-box {
    transition: all 800ms;
    &:hover {
        box-shadow: 8px 8px 8px darken($color-grey, 15%);
    }   
}

