$color-primary:#9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-black: black;
$color-white: white;
$color-grey : #F2F2F2;


$font-title: 'Shrikhand';
$font-text: 'Roboto';

$breakpoints: (
    tab: 650px,
    desktop: 1200px,
    large-desktop: 1800px
);