$color-primary:#9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-text-black: black;
$color-text-white: white;
$background-nav-color: #E6E6E6;
$background-color: #F2F2F2;
$box-shadow-color: #E6E6E6;

$font-title: 'Shrikhand';
$font-text: 'Roboto';