.background-color {
    background-color: $color-grey;
}
.border-none {
    border: none;
}
.decoration-none {
    text-decoration: none;
    color: $color-black;
}
.font-bold {
    font-weight: bold;
}
.btn-desktop {
    display: flex;
    flex-direction: column;
    @media (min-width: map-get($breakpoints, desktop)) {
        flex-direction: row;
        justify-content: space-around;
    }
}

/* boucle delay affichage plats des pages restaurants + animation */

.bloc-plate {
    visibility: hidden;
    @for $i from 1 through 14 {
    .t#{$i}{      
        animation: fade-in 800ms ($i * 150ms) forwards;
    }
    }
    @keyframes fade-in {
        from {
            width: 0%;
            opacity: 0;
            transform: translateY(50px);
        }
        to {
            visibility: visible;
            width: 100%;
            opacity: 1;
            transform: translateY(0);
        }
    }
}


/* Restaurants pages */

.main-section {
    position: relative;
    height: auto;
    background-color: $color-grey;
    font-family: $font-text;
    padding-top: 20px;
    border-radius: 40px 40px 0 0;
    top: 250px;
    @media (min-width: map-get($breakpoints, large-desktop)){
        min-height: 800px;
    }
    @include padding;
}

.img-background {
    position: absolute;
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    height: auto;
}
.plate-details{
    display: flex;
    flex-direction: row;
    justify-content : space-between;
    background-color: $color-white;
    align-items: center;
    padding-left: 20px;
    margin-bottom: 20px;
    height: 60px;
    @include box-shadow;
    @include border-radius-btn;
    &__1 {
        width: 80%; 
        padding-right: 15px;
        p { 
            white-space: nowrap;
            overflow: hidden;
            margin-top: 2px;
            margin-bottom: 2px;
            text-overflow: ellipsis;
        }
        @media (min-width: map-get($breakpoints, tab)) {
            width: 90%;
        }     
    }
    &__2 {
        width: 20%;
        max-width: 40px;
        display: flex;
        justify-content: end;
        padding-right: 20px;
        transform: translateY(12px); 
        @media (min-width: map-get($breakpoints, tab)) {
            width: 40px;
        }   
    }
    &__3 {
        width: 0%;
        i {
            background-image: white;
            overflow: hidden;
            color: transparent;
            font-size: 20px;
            border-radius: 30px;
        }       
    }
    &:hover {
        .plate-details__1 {
            width: 60%;
            @media (min-width: map-get($breakpoints, tab)) {
                width: 90%;
            }
        }
        .plate-details__2 {
            max-width: 40px;
        }
        .plate-details__3 {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60px;    
            height: 60px;
            background-color: $color-tertiary;
            border-radius: 0 15px 15px 0;
            transition: all 800ms;
            i {
                background-color: white;
                color: $color-tertiary;
                animation: anim-check 800ms;
            }
        }
    }
}
@keyframes anim-check {
    0% {
        transform: rotate(-270deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
.desktop-menu-align {
    @media (min-width: map-get($breakpoints, desktop)){
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        .bloc-plate {
            min-width: 450px;
            width: 45%;
            padding-right: 20px;
        }
    }
    @media (min-width: map-get($breakpoints, large-desktop)){
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        .bloc-plate {
            min-width: 450px;
            width: 30%;
            padding-right: 20px;
        }
    }
}
/* Heart align */

.space-title {
    margin-top: 5px;
    margin-left: 30px;
    position: absolute;
}
.underline {
    border-bottom: 3px solid $color-tertiary;
    margin-bottom: 20px;
    width: 60px;
}
.bloc-plate {
    padding-bottom: 20px;
}
h2 {
    font-weight: lighter;
}

/* For all pages */

.footer {
    position: relative;
    font-family: $font-text;
    background-color: darken($color-grey, 70%);
    color: $color-white;
    padding-left: 5%;
    margin-bottom: 0;
    height: 200px;
    margin-top: 0;
    top: 250px;
    a {
        text-decoration: none;
        color: $color-white;
    }
    .logo-footer {
        font-family: $font-title;
        padding-top: 30px;
        padding-bottom: 15px;
        font-size: 18px;
    }
    .footer-div {
        display: flex;
        flex-direction: space-between;
        align-items: center;
        i {
            width: 20px;
            font-size: 11px;
        }
        p {  
            margin-bottom: 0;
            margin-top: 7px;
        }
    }
}

/* Align heart + anim hover */

.align-heart {
    transform: translateY(-15px);
}
.heart-empty {
    color: $color-black;
    font-size: x-large;
}
.heart-full {
    font-size: x-large;
    color: transparent;
    opacity: 0;
    background-clip: text;
    background-image: linear-gradient(to bottom right,$color-secondary, $color-primary);
    transition: all 600ms ease-in;
    &:hover {    
        opacity: 1;
    }
}

