.header {
    text-align: center;
    box-shadow: 0 3px 3px rgb(201, 201, 202);
    /* enlever box-shadow sur les pages restaurants */
    position: relative;
    padding-top: 20px;
    padding-bottom: 10px;
    .logo {
    height: 30px;
    }
    a{
        text-decoration: none;
        color: $color-text-black;
    }
    .icon-restaurant {
    display: flex;    
    align-items: flex-start;
    position: absolute;
    font-size: large;
    padding-left: 5%;
    }
}    

/*a {
    text-decoration: none;
    color: $color-text-black;
}
i {
    font-size: xx-large;
    position: absolute;
}*/

