/* Changer couleur text placeholder en noir */
.nav-bar {
    font-family: $font-text;
    width: 100%;
    height: 50px;
    background-color: $background-nav-color;
    display: flex;
    align-items: center;
    justify-content: center;
    i {
        background-color: $background-nav-color;
    }
    .input-form {
        background-color: $background-nav-color;
        justify-content: center;
        text-align: center;
        width: 150px;
    }
}

